body {
  font-family: 'Open Sans', sans-serif;
}

:root {
  --accent-color: #ff6c00;
  --main-title-color: #ffffff;
  --title-color: #303030;
  --text-color: #555555;
  --second-text-color: #9da4bd;
  --transparent-grey: rgba(157, 164, 189, 0.6);
  --light-bgc: #f7f7f7;
  --dark-bgc: #191c26;
  --icon-bgc: #ffffff;
  --line-in-contacts: rgba(157, 164, 189, 0.4);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  padding: 12px 20px;
  cursor: pointer;

  min-width: 160px;

  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
}

.container {
  width: 1170px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* --------------------HEADER-------------------- */

header {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.header-container {
  display: flex;
  align-items: center;

  padding-left: 15px;
  padding-right: 15px;
}

.header-logo {
  display: flex;
  padding: 20px 0;
}

.header-logo-icon {
  fill: var(--title-color);
}

.header-list {
  display: flex;
  align-items: center;
  margin-left: 131px;
  margin-right: 254px;
}

.header-item:not(:last-child) {
  margin-right: 30px;
}

.header-link,
.header-tel {
  padding: 20px 0;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--main-title-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-tel {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--main-title-color);
}

.header-btn {
  margin-left: auto;
  margin-right: 20px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: var(--main-title-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-btn:hover,
.header-btn:focus {
  background-color: var(--accent-color);
}

/* --------------------HERO-------------------- */

.hero-container {
  display: flex;

  padding-left: 15px;
  padding-right: 15px;
}

.hero-soc {
  width: 100px;

  display: flex;
  align-items: flex-end;

  padding-left: 27px;
  padding-bottom: 40px;
}

.hero-list {
  display: flex;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
  align-items: center;
  gap: 40px;
}

.hero-list::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--title-color);
}

.hero-link {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--title-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-content {
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero-bg1.jpg);

  padding: 272px 100px 208px 100px;
  flex-grow: 1;

  background-color: #555555;
}

.hero-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--transparent-grey);

  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-pre-title::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--transparent-grey);
}

.hero-title {
  margin: 20px 0;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: var(--main-title-color);
}

.hero-descr {
  max-width: 360px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--second-text-color);
}

/* --------------------ABOUT-------------------- */

.about .container {
  padding: 120px 15px;
  display: flex;
  gap: 30px;
}

.about-content {
  max-width: 470px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-pre-title {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--title-color);

  display: flex;
  align-items: center;
  gap: 20px;
}

.about-pre-title::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--title-color);
}

.about-title {
  margin-bottom: 20px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;

  color: var(--title-color);
}

.about-after-title {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--text-color);
}

.about-descr {
  margin-bottom: 42px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--text-color);
}

.about-btn {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: var(--title-color);

  cursor: pointer;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.about-btn:hover,
.about-btn:focus {
  background-color: var(--accent-color);
  color: var(--main-title-color);
}

/* --------------------PRICE-------------------- */

.price {
  background-color: #111319;
  background-image: url(../images/price-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.price .container {
  padding: 120px 15px;
}

.price-pre-title {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--transparent-grey);

  display: flex;
  align-items: center;
  gap: 20px;
}

.price-pre-title::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--transparent-grey);
}

.price-title {
  margin-bottom: 44px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: var(--main-title-color);
}

.price-content {
  display: flex;
  gap: 30px;
}

.price-list {
  padding: 30px 20px;
  width: calc(50% - 15px);
}

.price-list:first-child {
  background-image: linear-gradient(rgba(23, 26, 36, 1), rgba(23, 26, 36, 0.2));
}

.price-list:last-child {
  background-image: linear-gradient(rgba(9, 11, 19, 1), rgba(9, 11, 19, 0.2));
}

.price-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price-item::after {
  content: '';
  width: 100px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
  margin-left: 12px;
  margin-right: 12px;
}

.price-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--second-text-color);
}

.price-descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--second-text-color);

  order: 1;
}

.price-btn {
  margin: 44px auto 0 auto;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: var(--main-title-color);

  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.price-btn:hover,
.price-btn:focus {
  background-color: var(--accent-color);
}

/* --------------------BENEFITS-------------------- */

.benefits .container {
  padding: 120px 15px;

  display: flex;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  margin-right: 130px;
  padding-left: 100px;
}

.benefits-item {
  box-sizing: border-box;
  width: 170px;
  height: 133px;
  padding: 20px 24px;

  background-color: var(--light-bgc);
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item-top {
  display: flex;
  justify-content: center;
}

.benefits-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;

  color: var(--title-color);

  display: inline-block;
}

.benefits-item sup {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;

  color: var(--accent-color);

  margin-top: 7px;
}

.benefits-content {
  box-sizing: content-box;
  max-width: 500px;
}

.benefits-descr {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--title-color);
}

.benefits-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--title-color);

  display: flex;
  align-items: center;
  gap: 20px;
}

.benefits-pre-title::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--title-color);
}

.benefits-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: var(--title-color);
}

.benefits-after-title {
  /* max-width: 500px; */

  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--text-color);
}

/* --------------------BARBERS-------------------- */

.barbers {
  background-color: var(--light-bgc);
}

.barbers .container {
  padding: 120px 15px;
}

.barbers-pre-title {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--title-color);

  display: flex;
  align-items: center;
  gap: 20px;
}

.barbers-pre-title::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--title-color);
}

.barbers-title {
  margin-bottom: 44px;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: var(--title-color);
}

.barbers-list {
  display: flex;
  gap: 30px;
}

.barbers-item {
  width: calc((100% - 60px) / 3);
}

.barbers-card-content {
  margin-top: 30px;
}

.barbers-name {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--title-color);
}

.barbers-descr {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.barbers-soc-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.barbers-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--icon-bgc);
}

.barbers-soc-icon {
  fill: var(--title-color);

  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.barbers-soc-link:hover .barbers-soc-icon,
.barbers-soc-link:focus .barbers-soc-icon {
  fill: var(--accent-color);
}

/* --------------------GALLERY-------------------- */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.gallery .container {
  padding: 120px 15px;
}

.gallery-text {
  margin-bottom: 44px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--title-color);

  display: flex;
  align-items: center;
  gap: 20px;
}

.gallery-text::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--title-color);
}

.gallery-list {
  display: flex;
  gap: 30px;
}

.gallery-item {
  width: calc((100% - 90px) / 4);
}

/* --------------------CONTACT-WRAP-------------------- */

.contact-wrap {
  background-color: var(--dark-bgc);
  background-image: url(../images/contacts-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(50% - 15px) 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.contact-wrap .container {
  display: flex;
}

/* --------------------FORM-------------------- */

.form {
  padding-top: 130px;
  padding-bottom: 194px;
  width: calc(50% - 15px);
  margin-right: 30px;
}

.form-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: var(--main-title-color);
}

/* --------------------CONTACTS-------------------- */

.contacts {
  padding-top: 130px;
  padding-bottom: 120px;
  padding-left: 100px;
  width: calc(50%-15px);
}

.contacts-list {
  width: 270px;
  min-height: 160px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  margin-bottom: 40px;

  color: var(--main-title-color);
}

.adress-icon,
.phone-icon,
.mail-icon {
  margin-right: 20px;
  fill: currentColor;
}

.adress-link {
  font-family: 'Open Sans' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--second-text-color);

  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-link {
  font-family: 'Open Sans' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--second-text-color);

  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.email-link {
  font-family: 'Open Sans' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  text-decoration-line: underline;

  color: var(--second-text-color);

  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-link:hover,
.adress-link:focus,
.tel-link:hover,
.tel-link:focus,
.email-link:hover,
.email-link:focus {
  color: var(--accent-color);
}

.b-text {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 70px;

  font-family: 'Open Sans' sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.b-text::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--line-in-contacts);
  margin-right: 20px;
}

.contacts-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--second-text-color);
}

/* --------------------FOOTER-------------------- */

.footer {
  background-color: var(--light-bgc);
}

.footer-copiright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--second-text-color);
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 15px;
  padding-right: 15px;

  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer-list::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--title-color);
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--title-color);

  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
