body {
  font-family: 'Open Sans', sans-serif;
}

:root {
  --accent-color: #ff6c00;
  --main-title-color: #ffffff;
  --title-color: #303030;
  --text-color: #555555;
  --second-text-color: #9da4bd;
  --transparent-grey: rgba(157, 164, 189, 0.6);
  --light-bgc: #f7f7f7;
  --dark-bgc: #191c26;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  padding: 12px 20px;
  cursor: pointer;

  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
}

.container {
  width: 1170px;
  margin: 0 auto;
  outline: 1px solid red;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* --------------------HEADER-------------------- */

header {
  background-color: #555555;
}

.header-logo {
  padding: 20px 0;
}

.header-list {
  display: flex;
  align-items: center;
  margin-left: 131px;
  margin-right: 254px;
}

.header-item:not(:last-child) {
  margin-right: 30px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-link,
.header-tel {
  padding: 20px 0;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--main-title-color);
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-tel {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--main-title-color);
}

.header-btn {
  margin-left: auto;
  margin-right: 20px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: var(--main-title-color);
}

/* --------------------HERO-------------------- */

.hero {
  background-color: #555555;
}

.hero-link {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--title-color);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--transparent-grey);
}

.hero-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: var(--main-title-color);
}

.hero-descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--second-text-color);
}

/* --------------------ABOUT-------------------- */

.about-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--title-color);
}
.about-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;

  color: var(--title-color);
}

.about-after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--text-color);
}

.about-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--text-color);
}

.about-btn {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: var(--title-color);

  cursor: pointer;
}

/* --------------------PRICE-------------------- */

.price {
  background-color: #555555;
}

.price-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--transparent-grey);
}

.price-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: var(--main-title-color);
}

.price-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--second-text-color);
}

.price-descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  text-align: right;
  letter-spacing: 0.02em;

  color: var(--second-text-color);
}
.price-btn {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: var(--main-title-color);

  cursor: pointer;
}

/* --------------------BENEFITS-------------------- */

.benefits-item {
  background-color: var(--light-bgc);
}

.benefits-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;

  color: var(--title-color);
}

.benefits-item sup {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;

  color: var(--accent-color);
}

.benefits-descr {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--title-color);
}

.benefits-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--title-color);
}

.benefits-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: var(--title-color);
}

.benefits-after-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--text-color);
}

/* --------------------BARBERS-------------------- */

.barbers {
  background-color: var(--light-bgc);
}

.barbers-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--title-color);
}

.barbers-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: var(--title-color);
}

.barbers-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--title-color);
}

.barbers-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

/* --------------------GALLERY-------------------- */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.gallery-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--title-color);
}

/* --------------------FORM-------------------- */

.form {
  background-color: var(--dark-bgc);
}

.form-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: var(--main-title-color);
}

/* --------------------CONTACTS-------------------- */

.contacts {
  background-color: var(--dark-bgc);
}

.contacts-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: var(--main-title-color);
}

.adress-link {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--second-text-color);
}

.tel-link {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--second-text-color);
}

.email-link {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  text-decoration-line: underline;

  color: var(--second-text-color);
}

.adress-link:hover,
.adress-link:focus,
.tel-link:hover,
.tel-link:focus,
.email-link:hover,
.email-link:focus {
  color: var(--accent-color);
}

.contacts b {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--main-title-color);
}

.contacts-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--second-text-color);
}

/* --------------------FOOTER-------------------- */

.footer {
  background-color: var(--light-bgc);
}

.footer-copiright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--second-text-color);
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--title-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
